@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-85%);
  }
}

.animate-scroll {
    width: 100%; /* Double the width for seamless scrolling */
    animation: scroll 20s linear infinite;
  }
  
  @media (max-width: 1024px) { /* Tablet screens */
    .animate-scroll {
      animation: scroll 15s linear infinite;
    }
  }
  
  @media (max-width: 768px) { /* Cell phone screens */
    @keyframes scroll-mobile {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-380%);
      }
    }
  
    .animate-scroll {
      animation: scroll-mobile 10s linear infinite;
    }
  }

  .large-rounded-corner {
    border-top-left-radius: 120px; /* Adjust this value to make the corner larger */
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3); /* Add shadow for tab effect */
  }